html{ 
  box-sizing: border-box;
 }
 *,*::after,*::before{
   box-sizing: inherit;
 }
 a{
   text-decoration: none;
   display: inline-block;
 }
 ul,li{
   list-style: none;
   margin: 0;
   padding: 0;
 }
 .content{
   max-width: 1250px;
   margin: 0 auto;
   font-family: 'Open Sans', sans-serif;
 }
 body{}
 
 .header {
   width: 1249px;
   height: 89px;
   margin: 0 2px 103px 1px;
   padding: 0 432px 0 358px;
   opacity: 0.8;
   background-color: #000000;
   
 }
 .menu-header{
   display: flex;
   font-size: 14px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.71;
 }
 .nav-menu-active{
   width: 90px;
   height: 89px;
   padding: 40px 24px 33px 23px;
   box-shadow: -0.3px -2px 35px 0 rgba(0, 1, 1, 0.3);
   background-color: #ff3f40;
   
 }
 .nav-menu-link-home{
   width: 43px;
   height: 12px;
   letter-spacing: 1px;
   color: #e0e0e0;
 }
 
 .nav-menu-link-portfolio {
   width: 83px;
   height: 12px;
   margin: 38px 48px 34px 39px;
   letter-spacing: 0.50px;
   color: #e0e0e0;
 }
 .nav-menu-link-about-us {
   width: 75px;
   height: 12px;
   margin: 38px 25px 34px 1px;
   letter-spacing: 0.23px;
   color: #e0e0e0;
 }
 .nav-menu-link-contact {
   width: 69px;
   height: 12px;
   margin: 38px 0 34px 28px;
   letter-spacing: 0.58px;
   color: #e0e0e0;
 }
 